body {
    margin:0;
    padding:0;
    user-select: text;
    font-family: "lato", sans-serif;
    font-size: 18px;
}

p {
    font-size: 18px;
    font-family: "lato", sans-serif;
    user-select: text;
}

h1 {
    font-family: "comfortaa", sans-serif;
    font-size: 38px;
    margin:5px;
    margin-bottom: 10px;
}

h2 {
    font-family: "comfortaa", sans-serif;
    font-size: 30px;
    margin:5px;
    margin-bottom: 10px;
}

h3 {
    font-family: "comfortaa", sans-serif;
    font-size: 25px;
    margin:5px;
    margin-bottom: 10px;
}

a, a:visited a:active, a:hover, a:link {
    color:blue;
}

code {
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 4px;
    color: #d14;
}

pre code {
    background-color: #f4f4f4;
    padding: 0;
    font-size: 1rem;
    line-height: 1.4;
  
    padding: 10px 20px;
    display: inline-block;
}

.pagetitle {
    font-family: "nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 75px;
    padding:0;
    margin:5px;
    user-select: none;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-family: "comfortaa", sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  user-select: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


button {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    border-radius: 20px;
    margin-top:10px;
    font-size: 17px;
    background-color: rgb(226, 226, 226);
    border: solid;
    box-shadow: 5px 5px 5px lightgray;
    cursor: pointer;
    border-color: black;
    user-select: none;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right: 15px;
    color:black;
    text-decoration: none;
}

button:active {
    background-color: lightgray;
    border-color:gray;
    box-shadow: none;
}

.button {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    border-radius: 20px;
    margin-top:10px;
    font-size: 17px;
    background-color: rgb(226, 226, 226);
    border: solid;
    box-shadow: 5px 5px 5px lightgray;
    cursor: pointer;
    border-color: black;
    user-select: none;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right: 15px;
    color:black;
    text-decoration: none;
}

.button:active {
    background-color: lightgray;
    border-color:gray;
    box-shadow: none;
}

.input {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    width: 500px;
    padding: 5px;
    border-radius: 20px;
    border-style: solid;
    font-size: 17px;
    border:3px,solid,black;
    box-shadow: 5px 5px 5px lightgray;
    user-select:none;
}

.input:focus {
    outline: none;
    border-color:gray;
    box-shadow: none;
}

.pageheading {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: x-large;
    padding: 0px;
    margin: 10px;
    cursor: default;
    user-select: none;
}

.textfont {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    cursor: default;
    overflow-wrap:anywhere;
    white-space:inherit;
    font-size: 20px;
    user-select: none;
}